.nav {
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  border-bottom: 1px solid #d6dce5;
  font-weight: 200;
  font-size: 15px;
}

.logo {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.innerContainer {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 70%;
  display: flex;
}
.center {
  height: 80px;
  overflow: hidden;
}

.links {
  display: flex;
  justify-content: space-between;
  transition: margin 0.25s ease-in-out;
  margin-top: 0;
}

.active {
  margin-top: -62px;
  overflow: hidden;
}

.search {
  border: 0;
  background-color: #f0f2f6;
  box-sizing: border-box;
  color: #000c26;
  height: 70px;
  max-height: 44px;
  width: 100%;
  vertical-align: baseline;
  line-height: 2.75em;
  line-height: 2.75em;
  font-weight: 300;
  border-radius: 20px;
}
.search .icon {
  margin: -2px 10px;
}
.input {
  border: 0;
  background-color: #f0f2f6;
  font-size: 16px;
}
.link {
  margin-right: 25px;
}
.right {
  display: flex;
  justify-content: space-between;
}
.subscribeButton a {
  background-color: #0059d2;
  border-radius: 15px;
  color: white;
  padding: 8px 22px;
  margin-right: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.flipMenu {
  height: 40px;
  width: 50px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.25s ease-in-out;
  z-index: 1;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.flipMenu .menuFront,
.flipMenu .menuBack {
  position: absolute;
  backface-visibility: hidden;
}

.flipMenu .menuBack {
  transform: rotateX(180deg);
}

.flip {
  transform: rotateX(180deg);
}
.burgerMenu {
  margin: 0 4px;
}

.burgerMenu span {
  display: block;
  height: 3px;
  width: 20px;
  background: black;
  margin: 3px auto;
  opacity: 1;
  transition: 0.25s ease-in-out;
}

.burgerMenu.open span:nth-child(2) {
  opacity: 0;
}

.burgerMenu.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burgerMenu.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
